body {
  background-color: #a3b18a;
}
.header {
  background-color: rgb(16, 16, 57);
  color: white;
  padding: 5px;
  text-align: center;
}
.main{
  text-align: center;
}
#btn {
  background-color: brown;
  color: white;
  margin: 10px;
  cursor: pointer;
}